<hr>
<h1>Most Popular {{model.length}} Playback Items</h1>
{{#each model as |item| }}
    <p>{{item.itemid}} {{item.title}}</p>
    <EmberFlowplayerRtePlay @model={{item}} @audioId={{item.itemid}}>Play</EmberFlowplayerRtePlay>
{{/each}}
{{outlet}}